Ex 1 : Check the lenght of the string "My name is python"

In [1]:
text = "My name is python"
length = len(text)
print(length)

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

s_lower = s.lower()


count = s_lower.count("python")

print(count)

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [3]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]

new_list = ls1 + ls2


print(len(new_list))

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [4]:
people = {
    "Myo": 32,
    "Thida": 64
}

print(people)

{'Myo': 32, 'Thida': 64}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [7]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}


combined_set = set1.union(set2)


print(combined_set)
print(len(combined_set))

{'Education', 'status', 'age', 'Height', 'Name'}
5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [8]:
user_string = input("Enter a string: ")

new_string = user_string[0] + "*" + user_string[2:] + "!!!"


print(new_string)

Enter a string: hello
h*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [9]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."


s = s.lower()


for ch in [".", "-", ",", ";"]:
    s = s.replace(ch, "")


print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [11]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
for num in L1:
    if num not in L2:
        missing_number = num
        break

print("The missing number is:", missing_number)

The missing number is: 99

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [12]:

ls1 = ["apple", "banana", "cherry"]


ls2 = ls1.copy()


ls2.append("blueberry")

print("Original list:", ls1)
print("New list:", ls2)

Original list: ['apple', 'banana', 'cherry']
New list: ['apple', 'banana', 'cherry', 'blueberry']